<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link href="styles.css" rel="stylesheet"/>
    <link href="bootstrap/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="bootstrap/bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.min.js"></script>
    <link href="bootstrap/icons-1.4.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div class="topavbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">AuthServer v1.0.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Users
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">All users</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Delete users</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 pt-4 pb-4">
            <div layout:fragment="content">
            </div>
        </div>
    </div>
</div>
<footer>
    This is the footer!!!
</footer>
</body>
</html>